.content {
  background-color: #1c1a19;
  display: flex;
  flex-direction: column;
  margin: 0%;
  width: 100%;
}

.content > * {
  flex: 1 1 auto;
}

button {
  width: 100%;
  height: 100%;
  margin: 0%;
  background-color: #f55800;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: all 0.5s ease-out;
}

button:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

button:active {
  background-color: #e05304;
  color: #f4f1f0;
}

.toolbar {
  position: fixed;
  right: 0;
  left: 0;
  z-index: 10;
  height: 48px;
  background-color: #3c3a39;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex: 1 1 auto;
  padding-left: 5%;
  padding-right: 5%;
}

.logo {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  text-align: center;
  flex: none;
  order: 0;
  flex-grow: 0;
  margin: 0% 0%;
}

.spaceBetween {
  flex: 2 1 auto;
}

.menuicon {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  cursor: pointer;
  padding: 8px;
}

.menubar {
  background-color: #fff;
  border: 1px solid #fff;
  width: 16px;
  top: 17px;
  left: 4px;
  margin: 1px;
}

.menu-option,
.mail-sign {
  display: none;
}

.dropdown-menu {
  background-color: #3c3a39;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 7%;
  right: 0;
  margin: 0;
}

.hide {
  display: none;
}

.dropdown-option {
  color: #fff5e1;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  border-bottom: 1px solid #6f6c6b;
  margin: 0 6% 6% 6%;
  text-decoration: none;
  padding-left: 4%;
}

a {
  text-decoration: none;
}

.dropdown-option a {
  color: #fff5e1;
}

.mobile-menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
}

.popup-top button {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  color: #67798e;
  margin: 18px 18px 18px 10px;
  font-size: 30px;
  flex-shrink: 1;
}

.mobile-menu button {
  width: 30px;
  height: 30px;
  background: transparent;
  border: none;
  color: #67798e;
  margin-right: 38px;
  margin-top: 26px;
  font-size: 30px;
}

.mobile-menu button:hover {
  background: transparent;
  border: none;
}

.dropdown-bottom {
  background-color: #e5e5e5;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  height: 7%;
}

.dropdown-divline {
  width: 134px;
  height: 5px;
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
  align-self: center;
  margin: 30px auto 8px auto;
}

.headline {
  display: flex;
  background-image: url(Art/illustration-header-mobile.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  flex-wrap: wrap;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: flex-start;
}

.headline > * {
  margin-left: 24px;
  margin-right: 24px;
  margin-top: 0%;
  margin-bottom: 15px;
}

.headlineh {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 56px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
  flex: none;
  order: 0;
  flex-grow: 0;
}

.headlineh2 {
  color: #fff5e1;
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
}

.headlinep {
  color: #fff;
  font-family: "Poppins", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
}

.socialmedia {
  display: flex;
  flex-flow: row wrap;
  align-items: flex-start;
  justify-content: flex-start;
  padding-left: 15px;
  gap: 0%;
}

.socialmedia > * {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-left: 0%;
  margin-right: 12px;
}

.works {
  background-color: #fff;
  display: grid;
  grid-template-columns: 24px auto 24px;
  text-align: center;
  gap: 0% 0%;
  padding-bottom: 120px;
}

.works > * {
  grid-column-start: 2;
  grid-column-end: 3;
}

.worksh {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 52px;
  margin-top: 120px;
  margin-bottom: 24px;
}

.divline {
  height: 0%;
  left: 0%;
  top: 107px;
  border-bottom: 1px solid #212121;
}

.stories {
  display: flex;
  flex-flow: column wrap;
  margin-top: 80px;
  text-align: left;
}

.stories > * {
  width: 100%;
}

.multiposth {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  color: #091e42;
  margin-top: 24px;
}

.multipostp {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  margin-top: 12px;
}

.languages {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  width: 297px;
  height: 40px;
  padding-left: 0%;
}

.languages > * {
  padding: 10px 12px;
  border: 1px solid #8993a4;
  box-sizing: border-box;
}

.icontext {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
  margin: 0%;
}

.seeproject {
  width: 124px;
  height: 48px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
}

.seeprojecth {
  margin: 0%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  padding-left: 12px;
}

ul {
  list-style: none;
  padding: 0%;
}

li {
  list-style: none;
}

.projectssection {
  display: flex;
  flex-flow: column wrap;
  width: 100%;
}

.project1,
.project2,
.project3 {
  background-image: url(Art/project-image.png);
  background-size: 100% 100%;
  padding: 0%;
  margin-top: 24px;
  transition: all 0.5s ease-out;
}

.project1 > *,
.project2 > *,
.project3 > * {
  padding-right: 16px;
  padding-left: 16px;
  color: #fff;
}

.project2 > * {
  padding-right: 16px;
  padding-left: 16px;
  color: #fff;
}

.project3 > * {
  padding-right: 16px;
  padding-left: 16px;
  color: #fff;
}

.project1h {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 32px;
  line-height: 44px;
  text-align: left;
  padding-top: 84px;
}

.project1p {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  padding-top: 12px;
  text-align: left;
}

.project1tags {
  display: flex;
  flex-flow: row wrap;
  width: 297px;
  height: 40px;
  padding-left: 0%;
}

.project1tags > * {
  padding: 10px 12px;
  border: 1px solid #8993a4;
  box-sizing: border-box;
  margin-right: 12px;
  background: rgba(255, 255, 255, 0.24);
}

.htmlbuttp {
  margin-left: 16px;
}

.icontextp {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 15px;
  line-height: 20px;
  margin: 0%;
}

.seeproject1 {
  width: 100%;
  height: 48px;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  padding: 0%;
  margin-top: 22px;
  text-align: center;
}

.seeprojecttext {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-align: center;
  padding-left: 0%;
}

.blur {
  filter: blur(6px);
  pointer-events: none;
  user-select: none;
}

.lockScroll {
  overflow: hidden;
}

.project-popup-mobile {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #fff;
  margin: 60px 16px 40px 16px;
  width: calc(100% - 32px);
  height: calc(100% - 100px);
  padding: 0;
  backdrop-filter: blur(6px);
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  z-index: 10;
}

.popup {
  display: none;
}

.popup-top {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
}

.popup-top h4 {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
  margin: 16px 0 0 16px;
  flex-shrink: 1;
}

.popup-top button:hover {
  background: transparent;
  border: none;
}

.project-popup-mobile ul {
  width: 100%;
  margin: 0%;
}

.project-popup-mobile ul p {
  color: #3c3a39;
}

.popup-content {
  display: flex;
  flex-flow: column nowrap;
}

.popup-content img {
  margin: 24px 16px;
  width: calc(100% - 32px);
}

.popup-content-p {
  color: #344563;
  text-align: start;
  margin: 0 16px 16px 16px;
}

.popup-bottom {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5%;
}

.popup-bottom a {
  text-decoration: none;
  color: #fff;
}

.popup-live {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 38%;
  height: 90%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
}

.popup-live img {
  height: 60%;
  width: 30%;
  margin: 0;
}

.popup-source {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  width: 45%;
  height: 90%;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  text-decoration: none;
  color: #fff;
}

.popup-source img {
  height: 60%;
  width: 30%;
  margin: 0;
}

.aboutme {
  display: grid;
  grid-template-columns: 24px auto 24px;
  text-align: center;
  gap: 0% 0%;
}

.aboutme > * {
  grid-column-start: 2;
  grid-column-end: 4;
}

.aboutmeh {
  font-family: "Crete Round", serif;
  font-style: normal;
  font-weight: 400;
  font-size: 72px;
  line-height: 88px;
  color: #ff6b00;
  padding-top: 120px;
  width: calc(100% - 24px);
  left: 24px;
  top: 120px;
  margin: 0%;
  text-align: left;
}

.aboutmep {
  height: 148px;
  left: 24px;
  top: 223px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  text-align: left;
  margin-top: 24px;
  margin-bottom: 0%;
  width: calc(100% - 24px);
}

.resume {
  width: 161px;
  height: 48px;
  background: #ff6b00;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  align-content: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  padding-left: 12px;
}

.aboutme1 {
  background-image: url(Art/illustration-about-me-mobile.svg);
  background-repeat: no-repeat;
  background-position: right bottom;
  padding-bottom: 200px;
}

.divline2 {
  height: 0%;
  left: 0%;
  top: 107px;
  border-bottom: 1px solid #fff;
  width: calc(100% - 24px);
  margin-top: 9px;
}

.language {
  margin-top: 135px;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.languagetitle {
  list-style-image: url(Art/language.png);
}

.languagepoint {
  list-style-image: url(Art/language.png);
}

.languageh {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0%;
  text-align: center;
  padding-bottom: 0%;
  padding-left: 12px;
}

.languagetext {
  margin-top: 0%;
}

.languagetext > * {
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  margin-top: 32px;
}

.frameworks {
  margin-top: 44px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  height: auto;
}

.frameworkstitle {
  list-style-image: url(Art/frameworks.png);
}

.frameworkspoint {
  list-style-image: url(Art/frameworks.png);
}

.frameworksh {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0%;
  text-align: center;
  padding-bottom: 0%;
  padding-left: 24px;
}

.frameworkstext {
  margin-top: 0%;
}

.frameworkstext > * {
  width: 100%;
  height: 24px;
  left: 0%;
  top: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  margin-top: 32px;
}

.skills {
  margin-top: 44px;
  display: flex;
  flex-flow: column wrap;
  align-items: center;
  align-content: center;
  height: auto;
  margin-bottom: 130px;
}

.skillstitle {
  list-style-image: url(Art/skills.png);
}

.skillspoint {
  list-style-image: url(Art/skills.png);
}

.skillsh {
  font-family: "InaiMathi", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
  margin: 0%;
  text-align: center;
  padding-bottom: 0%;
  padding-left: 12px;
}

.skillstext {
  margin-top: 0%;
}

.skillstext > * {
  width: 100%;
  height: 24px;
  left: 0%;
  top: 12px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
  margin-top: 32px;
}

.contactme {
  background-color: #fff;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  text-align: center;
  gap: 0% 0%;
  padding: 120px 24px 0 24px;
}

.contactmeh {
  width: 100%;
  height: 100%;
  left: 0%;
  top: 0%;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 44px;
  color: #172b4d;
}

.divlineform {
  height: 0%;
  left: 0%;
  top: 107px;
  border-bottom: 1px solid #dbd8d7;
  width: calc(100% - 24px);
}

.divline3 {
  grid-column-start: 1;
  grid-column-end: 4;
  height: 0%;
  left: 0%;
  top: 107px;
  border-bottom: 1px solid #dfe1e6;
  width: 100%;
  margin-top: 124px;
}

.socialmedia2 {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  padding-left: 15px;
  gap: 0%;
}

.socialmedia2 > * {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: flex-start;
  margin-left: 0%;
  margin-right: 12px;
}

.divline4 {
  width: 134px;
  height: 5px;
  left: calc(50% - 134px / 2 - 0.5px);
  bottom: 8px;
  background: #0d151e;
  border-radius: 10px;
  margin: 8px;
  align-self: center;
  margin-right: auto;
  margin-left: auto;
}

.seeproject1button {
  margin: 0%;
  padding: 0%;
}

input[type="text"],
[type="email"] {
  width: 85%;
  padding: 12px 20px;
  border: none;
  border-bottom: 1px solid #d8d8d7;
  background-color: #fff;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
}

textarea {
  width: 90%;
  height: 114px;
  padding: 12px;
  border: 1px #d8d8d7;
  background-color: #fbf8f7;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  margin-top: 24px;
}

button[type="submit"] {
  width: 131px;
  height: 48px;
  left: 98px;
  top: calc(50% - 48px / 2 + 141px);
  background: #ff6b00;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: 1px solid #fff;
  margin-top: 18px;
}

button[type="submit"]:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
}

button[type="submit"]:active {
  background-color: #e05304;
  color: #f4f1f0;
}

form {
  display: flex;
  flex-flow: column wrap;
  align-items: center;
}

@media (min-width: 786px) {
  .content {
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: 72px auto auto auto auto;
  }

  .toolbar {
    grid-area: 1 / 1 / 2 / 4;
    width: 80%;
    height: 72px;
    justify-content: flex-start;
    padding-left: 10%;
    padding-right: 10%;
  }

  @keyframes logo-animation {
    from {
      transform: rotate(0deg);
    }

    50% {
      font-size: 200%;
      color: #e05304;
    }

    to {
      transform: rotate(360deg);
    }
  }

  .logo {
    animation-duration: 2s;
    animation-name: logo-animation;
  }

  .menuicon {
    display: none;
  }

  .spaceBetween {
    width: 50%;
  }

  .menu-option {
    display: inline;
    font-family: "Inter", sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    padding-right: 32px;
    color: #fff;
  }

  .mail-sign {
    display: inline;
  }

  .headline {
    grid-area: 2 / 1 / 3 / 4;
    height: calc(100vh - 72px);
    background-image: url(Art/Illustration-header-desktop.svg);
    background-position: 100% calc(0% - 65px);
    background-size: 45% 105%;
    display: grid;
    grid-template-columns: 10% auto 51%;
    grid-template-rows: auto auto auto;
    align-content: center;
    align-items: center;
  }

  .headlineh,
  .headlineh2,
  .headlinep {
    grid-column: 2 / 3;
    text-align: left;
    margin: 0%;
    margin-bottom: 24px;
  }

  .headlineh {
    grid-row: 1 / 2;
    font-weight: 400;
    font-size: 72px;
    line-height: 82px;
  }

  .headlineh2 {
    grid-row: 2 / 3;
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 32px;
    line-height: 44px;
  }

  .headlinep {
    grid-row: 3 / 4;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 32px;
  }

  .socialmedia {
    grid-column: 1 / 2;
    grid-row: 1 / 4;
    display: flex;
    flex-flow: column wrap;
    padding-left: 36px;
    margin: 0%;
  }

  .socialmedia > * {
    padding-bottom: 23px;
  }

  .works {
    grid-area: 3 / 1 / 4 / 4;
    display: grid;
    grid-template-columns: 10% auto 10%;
    grid-template-rows: auto auto auto;
  }

  .works-header {
    grid-area: 1 / 2 / 2 / 3;
    display: grid;
    grid-template-columns: 363px auto;
  }

  .divline {
    grid-area: 1 / 2 / 2 / 3;
    width: calc(100% - 20px);
    height: 0%;
    border: 1px solid #212121;
    margin-top: 146px;
  }

  .stories {
    grid-area: 2 / 2 / 3 / 3;
    display: grid;
    grid-template-columns: 60% auto;
    grid-template-rows: 48px 140px 40px auto;
    gap: 24px;
  }

  .stories img {
    grid-area: 1 / 1 / 5 / 2;
  }

  .multiposth {
    margin: 0%;
  }

  .multipostp {
    margin: 0%;
  }

  .languages {
    margin: 0%;
  }

  .projectssection {
    grid-area: 3 / 2 / 4 / 3;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 37px 24px;
    margin-top: 24px;
  }

  .projectssection > * {
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-end;
  }

  .projectssection > * .seeproject1button {
    display: none;
  }

  .project-popup-mobile {
    margin: 10% 12%;
    width: 76%;
    height: 60%;
    display: grid;
    grid-template-columns: 60% 30% 10%;
    grid-template-rows: 12% 8% 60% 20%;
  }

  .popup {
    display: none;
  }

  .popup-top {
    grid-area: 1 / 1 / 2 / 4;
  }

  .popup-top h4 {
    margin-bottom: 12px;
  }

  .project-popup-mobile ul {
    grid-area: 2 / 1 / 3 / 2;
  }

  .popup-content {
    grid-area: 3 / 1 / 5 / 4;
    display: grid;
    grid-template-columns: 60% 40%;
    grid-template-rows: 85% 15%;
  }

  .popup-content img {
    grid-area: 1 / 1 / 3 / 2;
    height: calc(100% - 48px);
    width: calc(100% - 32px);
    margin: 24px 16px;
  }

  .popup-content-p {
    grid-area: 1 / 2 / 2 / 3;
    color: #344563;
    text-align: start;
    margin: 24px 16px 16px 16px;
  }

  .popup-bottom {
    grid-area: 2 / 2 / 3 / 3;
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 5%;
  }

  .popup-live {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 38%;
    height: 90%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  .popup-live img {
    height: 60%;
    width: 30%;
    margin: 0;
  }

  .popup-source {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 45%;
    height: 90%;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 24px;
  }

  .popup-source img {
    height: 60%;
    width: 30%;
    margin: 0;
  }

  .aboutme1 > * {
    padding: 0%;
  }

  .technologies > * {
    margin: 0%;
    margin-top: 10%;
    padding-right: 10%;
    text-align: left;
  }

  .project1:hover,
  .project1:focus {
    background-image: url(Art/project-image-selected.png);
    background-size: 100% 100%;
    transform: scale(1.02);
  }

  .project1:hover > *,
  .project1:focus > * {
    display: none;
  }

  .project1:hover .seeproject1button,
  .project1:focus .seeproject1button {
    display: block;
  }

  .project2 {
    background-image: url(Art/project2-image.png);
    background-size: 100% 100%;
  }

  .project2:hover,
  .project2:focus {
    transform: scale(1.02);
  }

  .project2:hover > *,
  .project2:focus > * {
    display: none;
  }

  .project2:hover .seeproject1button,
  .project2:focus .seeproject1button {
    display: block;
  }

  .project3 {
    background-image: url(Art/project3-image.png);
    background-size: 100% 100%;
  }

  .project3:hover,
  .project3:focus {
    transform: scale(1.02);
  }

  .project3:hover > *,
  .project3:focus > * {
    display: none;
  }

  .project3:hover .seeproject1button,
  .project3:focus .seeproject1button {
    display: block;
  }

  .aboutme {
    grid-area: 4 / 1 / 5 / 4;
    display: grid;
    grid-template-rows: 590px 10px 600px;
    grid-template-columns: 100%;
  }

  .aboutme1 {
    grid-area: 1 / 1 / 2 / 2;
    background-image: url(Art/illustration-about-me-desktop.svg);
    background-position: 100% center;
    background-repeat: no-repeat;
    display: flex;
    flex-flow: row wrap;
    align-content: flex-start;
    padding: 10% 51% 0% 10%;
  }

  .resume {
    padding-left: 12px;
  }

  .divline2 {
    grid-area: 2 / 1 / 2 / 3;
    margin: 0% 9%;
    width: 80%;
  }

  .technologies {
    grid-area: 4 / 1 / 2 / 5;
    display: flex;
    flex-flow: row wrap;
    margin: 0% 10%;
    justify-content: space-between;
    align-content: flex-start;
  }

  .contactme {
    grid-area: 5 / 1 / 6 / 4;
    display: grid;
    grid-template-rows: 89% 2% 9%;
    grid-template-columns: 10% 30% 50% 10%;
    padding-bottom: 24px;
  }

  .contactmeh {
    grid-area: 1 / 2 / 2 / 3;
    text-align: left;
    height: 484px;
    font-weight: 700;
    font-size: 40px;
    line-height: 52px;
  }

  .contactme-form {
    grid-area: 1 / 3 / 2 / 4;
    padding-top: 36px;
    padding-left: 24px;
    display: flex;
    flex-flow: column wrap;
    align-content: center;
    align-items: flex-start;
  }

  .divline3 {
    grid-area: 2 / 1 / 3 / 5;
    margin: 0%;
  }

  .socialmedia2 {
    grid-area: 3 / 1 / 4 / 5;
  }

  .divline4 {
    display: none;
  }
}
